@import "../../../../../variables";

.header-menu {
  display: flex;
  font-size: 14px;
  gap: 55px;
  color: #FFFFFF;
  text-transform: uppercase;
  list-style: none;
  align-items: center;

  @media (max-width: $md) {
    box-sizing: border-box;
    position: absolute;
    flex-direction: column;
    top: 95px;
    left: 0;
    width: 100%;
    background: #141d26;
    padding: 16px 0;
  }
}

.header-menu__item {
  cursor: pointer;
  z-index: 10;
}


.header-menu__img {
  display: none;
  @media (max-width: $md) {
    z-index: 10;
    display: block;
    cursor: pointer;
  }
}
