@import "src/variables";


* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

.width-limit-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width: $xl) {
    max-width: $lg;
  }

  @media (max-width: $lg) {
    max-width: $md;
  }

  @media (max-width: $md) {
    max-width: $sm;
  }

  @media (max-width: $sm) {
    min-width: 300px;
  }
}